<template>
  <div>

    <div class="mb-4 flex items-center justify-between">
      <h1>Job Listing</h1>
      <div>
        <button class="uk-button uk-button-primary"
          @click="popupNewJob"
        >Post New Job</button>
      </div>
    </div>

    <job-listing>
      <div class="uk-card-footer" slot-scope="{ job }">
        <a href="#" @click.stop.prevent="popupEditJob(job)" 
          class="uk-button uk-button-text"
          :class="{'uk-button-loading': loadingJob == job.id}"
        >Edit</a>
      </div>
    </job-listing>
    
    <div uk-modal ref="jobModal" v-if="currentJob" @hidden="currentJob = null">
      <form @submit.prevent="submitJob" class="uk-modal-dialog uk-form-horizontal">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title" v-text="currentJob.id ? 'Edit Job' : 'New Job'"></h2>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Title</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" v-model="currentJob.title">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Description</label>
            <div class="uk-form-controls">
              <textarea class="uk-textarea" rows="6" v-model="currentJob.description"></textarea>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Location</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" v-model="currentJob.location">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-form-label">Status</div>
            <div class="uk-form-controls uk-form-controls-text">
              <label class="mr-2">
                <input class="uk-radio" type="radio" value="OPEN" v-model="currentJob.status">
                <span class="px-2">Open</span>
              </label>
              <label class="ml-2">
                <input class="uk-radio" type="radio" value="CLOSED" v-model="currentJob.status">
                <span class="px-2">Closed</span>
              </label>
            </div>
          </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close mr-4" type="button">Cancel</button>
          <button class="uk-button uk-button-primary" :class="{'uk-button-loading': saving}" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import JobListing from '@/components/JobListing'
import { mapGetters } from 'vuex'
import { db } from '@/firebase'
import UIkit from 'uikit'

export default {
  components: { JobListing },
  data() {
    return {
      loadingJob: false,
      saving: false,
      currentJob: null,
    }
  },
  computed: {
    ...mapGetters('auth', ['currentUser'])
  },
  methods: {
    popupNewJob() {
      this.currentJob = {}
      this.$nextTick(() => {
        UIkit.modal(this.$refs.jobModal).show()
      })
    },
    async popupEditJob(job) {
      this.loadingJob = job.id
      const doc = await db.collection('jobs').doc(job.id).get()
      this.currentJob = { id: doc.id, ...doc.data() }
      this.$nextTick(() => {
        this.loadingJob = false
        UIkit.modal(this.$refs.jobModal).show()
      })
    },
    async submitJob() {
      this.saving = true
      if (this.currentJob.id) { // edit existing
        await db.collection('jobs').doc(this.currentJob.id)
          .set(this.currentJob, { merge: true })
      } else { // create new
        await db.collection('jobs').add({ date: new Date(), ...this.currentJob })
      }
      this.saving = false
      this.$nextTick(() => {
        UIkit.modal(this.$refs.jobModal).hide()
      })
    }
  }
}
</script>
