<template>
  <div>
    <h1 class="mb-6">Job Listing</h1>
    <job-listing></job-listing>
  </div>
</template>

<script>
import { db } from '@/firebase'
import JobListing from '@/components/JobListing'
export default {
  components: { JobListing }
}
</script>
