<template>
  <div class="max-w-xs border mx-auto p-4">
    <form @submit.prevent="attempt" class="mb-4">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend mb-4 text-center">Login</legend>

        <div v-if="error" class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p v-text="error"></p>
        </div>

        <div class="uk-margin">
          <div class="uk-inline w-full">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input class="uk-input" v-model="email" type="email">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline w-full">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" v-model="password" type="password">
          </div>
        </div>

        <button type="submit" 
          class="uk-button uk-button-primary uk-width-1-1"
          :class="{'uk-button-loading': loading}"
        >Login</button>

      </fieldset>
    </form>
    <div class="text-center">
      <router-link to="/register">Register new account</router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      email: null,
      password: null,
    }
  },
  computed: {
    ...mapGetters('auth', ['loading', 'error'])
  },
  methods: {
    ...mapActions('auth', ['login']),
    async attempt() {
      try {
        await this.login({ email: this.email, password: this.password })
        this.$router.push('/home')
      } catch (error) {
        this.password = null
      }
    }
  }
}
</script>