<template>
  <div>
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
      <div v-for="job in jobs" :key="job.id">
        <div @click="popupShowJob(job)" 
          class="cursor-pointer relative uk-card uk-card-default uk-card-hover border"
        >
          <div v-if="loadingJob == job.id" class="bg-white z-10 opacity-75 absolute pin flex items-center justify-center bg-white-50">
            <span uk-spinner="ratio: 3"></span>
          </div>
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <div class="flex items-center justify-between">
                  <h3 class="uk-card-title uk-margin-remove-bottom truncate">
                    <span v-text="job.title"></span>
                    <small class="ml-2" v-if="job.location" v-text="'('+job.location+')'"></small>
                  </h3>
                  <div>
                    <span class="uk-label" :class="job.status === 'OPEN' ? 'uk-label-success' : 'uk-label-danger'"  v-text="job.status"></span>
                  </div>
                </div>
                <p class="uk-text-meta uk-margin-remove-top">
                  <time datetime="job.date.toDate()" 
                    v-text="job.date.toDate().toLocaleDateString()"
                  ></time>
                </p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p class="truncate" v-text="job.description"></p>
          </div>
          <slot :job="job"></slot>
        </div>
      </div>
    </div>

    <div uk-modal ref="jobDetailModal" v-if="showingJob" @hidden="showingJob = null">
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
          <h2 class="uk-modal-title truncate">
            <span v-text="showingJob.title"></span>
            <small class="ml-2" v-if="showingJob.location" v-text="'('+showingJob.location+')'"></small>
          </h2>
          <div class="flex items-center justify-between">
            <p class="uk-text-meta uk-margin-remove-top">
              <time datetime="showingJob.date.toDate()" 
                v-text="showingJob.date.toDate().toLocaleDateString()"
              ></time>
            </p>
            <span class="uk-label" 
              :class="showingJob.status === 'OPEN' ? 'uk-label-success' : 'uk-label-danger'"  
              v-text="showingJob.status"
            ></span>
          </div>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
          <p class="whitespace-pre-wrap" v-text="showingJob.description"></p>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close mr-4" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from '@/firebase'
import UIkit from 'uikit'

export default {
  data() {
    return {
      jobs: [],
      loadingJob: false,
      showingJob: null,
    }
  },
  firestore: {
    jobs: db.collection('jobs')
  },
  methods: {
    async popupShowJob(job) {
      this.loadingJob = job.id
      const doc = await db.collection('jobs').doc(job.id).get()
      this.showingJob = { id: doc.id, ...doc.data() }
      this.$nextTick(() => {
        this.loadingJob = false
        UIkit.modal(this.$refs.jobDetailModal).show()
      })
    },
  }
}
</script>
