
.uk-button-loading {
  pointer-events: none;
  text-indent: -9999px; 
  position: relative;
  &::after {
    position: absolute!important;
    left: calc(50% - (1.25em / 2));
    top: calc(50% - (1.25em / 2));
    animation: spinAround .5s infinite linear;
    border: 2px solid currentColor;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.25em;
    width: 1.25em;
  }
}

@keyframes spinAround {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
