<template>
  <div id="app">
    <div class="uk-offcanvas-content">
      <header class="bg-brand uk-light">
				<div class="uk-container">
					<nav class="uk-navbar-transparent" data-uk-navbar>
						<div class="uk-navbar-left">
              <router-link :to="isLoggedIn ? '/home' : '/'" 
                class="uk-navbar-item uk-logo"
              >
                <span class="text-white font-bold">{{ name }}</span>
              </router-link>
						</div>
						<div class="uk-navbar-right">
							<ul class="uk-navbar-nav">
                <template v-if="isLoggedIn">
                  <li>
                    <a href="#" v-text="currentUser.email"></a>
                    <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#" @click.prevent="attemptLogout">Logout</a></li>
                      </ul>
                    </div>
                  </li>
                </template>
                <template v-else>
                  <li><router-link to="/register">Register</router-link></li>
                  <li><router-link to="/login">Login</router-link></li>
                </template>
							</ul>
						</div>
					</nav>
				</div>
			</header>
      <section class="uk-section uk-section-muted">
				<div class="uk-container">
          <router-view/>
				</div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  data() {
    return {
      name: process.env.VUE_APP_NAME,
    }
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser'])
  },
  methods: {
    ...mapActions('auth', ['logout']),
    async attemptLogout() {
      await this.logout()
      this.$router.push('/login')
    }
  }
}
</script>